
/*------------ GENERAL ------------*/


body,html {
  margin: 0;
  padding: 0;
  font-family: 'FuturaStd Book';
  color: black;
}

p,h2 {
  margin: 0;
}

h2 {
  font-size: 12px;
  color: #616161;
  margin-bottom: 50px;
}

.wrapper {
  padding: 0 166px;
}


/*------------ HEADER ------------*/


#sticky-nav {
  display: flex;
  flex-direction: row;
  padding: 0 110px;
  padding-top: 53px;
  height: 117px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  margin-left: 50px;
}
.responsive-header {
  width: 100%;
  position: fixed;
  top: 117px;
  background-color: #F0F0F0;
  height: 0px;
  z-index: 1;
}
#top-responsive {
  top: 0;
  height: 15%;
  background-color: white;
}
#bottom-responsive {
  z-index: 2;
}

.nav-left {
  width: 40%;
}
.nav-left > h1 {
  margin-top: 0;
  font-size: 20px;
  padding-top: 5px;
}

.nav-right {
  width: 60%;
}
.nav-right > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-right > ul > li {
  list-style-type: none;
  margin-left: 41px;
}
.nav-right > ul > li > a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav-right > ul > li > a:hover {
  text-decoration: none;
}


/*------------ HERO ------------*/


#hero-wrapper {
  margin-top: 13%;
}
#hero-wrapper > p {
  font-family: 'FuturaStd Bold';
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
}


/*------------ WHO WHAT ------------*/


#who-wrapper > p, #what-wrapper > p {
  font-family: 'FuturaStd Bold';
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

#who-wrapper {
  margin-top: 5%;
}
#what-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

/*------------ PROJECTS ------------*/

#projects-wrapper {
  background-color: #F8F8F8;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

.projects-box {
  margin-bottom: 5%;
}
.projects-box:nth-child(2n+1) {
  margin-bottom: 145px;
}

.img-box {
  width: 41%;
  height: 100%;
  background-color: blue;
  box-shadow: 0 12px 21px 0 rgba(0,0,0,0.27);
}

.projects-box:nth-child(2n+1) .img-box {
  background-color: red;
  float: right;
}
.projects-box:nth-child(2n) .text-box {
  position: relative;
  top: -280px;
  margin-left: 50%;
}
.projects-box:nth-child(2n+1) .text-box {
  margin-top: 80px;
}


.text-box > p:nth-child(1) {
  font-family: 'FuturaStd Bold';
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 51px;
}
.text-box > p:nth-child(2) {
  font-size: 16px;
}

.dribbble {
  margin-bottom: 5%;
}
.dribbble > a {
  color: black;
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 5%;
}


/*------------ EXPERIENCE ------------*/

#experience-wrapper {
  padding-top: 5%;
}
#experience-wrapper > h2 {
  margin-bottom: 5%;
}

.experience > p {
  margin-top: 5%;
  font-family: 'FuturaStd-Bold';
  font-weight: bold;
  font-size: 16px;
}
.experience > p:nth-child(2n+1) {
  margin-top: 56px;
  font-size: 25px;
}


/*------------ CONTACT ------------*/

#contact-wrapper {
  margin-top: 10%;
  margin-bottom: 5%;
}
#contact-wrapper > p {
  font-family: 'FuturaStd-Bold';
  font-weight: bold;
  font-size: 20px;
}
.contact-media {
  margin-top: 5%;
}
.contact-media > a {
  margin-right: 10%;
}
.contact-media > a > img {
  height: 46px;
  width: 46px;
}

/*------------ responsive ------------*/

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

.moi{
  display: none;
}
 
}